<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex-col items-center">

{{!-- Header section --}}
  <div class="text-xl font-medium text-red-500 text-left border-red-500 border-b-2">
    <span>Cowabunga!</span>
    <h5 class="text-black text-lg">Today's List</h5> {{!--get real data --}}
  </div>

{{!-- Main body --}}
  {{!-- <div>
    {{#each data}}
      {{> listItem}}
    {{/each}}
  </div> --}}

  <div>
    
  </div>
</div>
  <small class="text-left">Created by Team Raphael</small>

</div>
